*

!.gitignore

!AddOns
!AddOns/*
!AddOns/gambcl
!AddOns/gambcl/*

!Indicators
Indicators/*
!Indicators/gambcl
!Indicators/gambcl/*

!Strategies
Strategies/*
!Strategies/gambcl
!Strategies/gambcl/*

!Templates
!Templates/*
